.meet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.step {
  p {
    font-weight: bold;

    text-transform: uppercase;
  }
  display: flex;
  align-items: center;
  gap: 15px;
}
