.meet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.step {
  p {
    font-weight: bold;

    text-transform: uppercase;
  }
  display: flex;
  align-items: center;
  gap: 15px;
}
.withPet {
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
  }
}

.description {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  padding: 0 12px;
}

.checkboxes {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
  }
}
