.showcase-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: var(--primary-font-regular);
    font-weight: bold;
  }
}
.category-images {
  display: flex;
  gap: 15px;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;

  img {
    width: 70vw;
    height: 70vw;
    scroll-snap-align: start;
  }
}
